head p{
    color: aqua;
    font-weight: 600;
}

h1{
    font-size: 63px;
    color: #0C0C1E;
    padding: 15px;
    text-align: center;
}

h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #1B2E3C;
    font-weight: 600;
}

.carousel-caption h5{
    font-size: 80px;
    color: #198754;
    text-shadow: 2px 2px 2px black;
}

section .text-left{
    text-align: left;
}